* {
  box-sizing: border-box;
}
#root {
  /* position: fixed;
  top: 35%;
  left: 57%; */
  width: 310px;
  /* height: 32em; */
  /* margin-top: -9em; 
  margin-left: -15em;  */
  margin: 0 auto;
  border: 1px solid #ccc;
  background-color: #fff;
}
h1 {
  font-family: Brown-Bold;
  font-size: 2em;
  line-height: 1.13;
  text-transform: uppercase;
  text-align: left;
  color: #022d3d;
}

body {
  padding-top: 0;
  font-family: Helvetica Neue, Helvetica;
  background: #022d3d;
  background-image: "https://www.publicdomainpictures.net/pictures/70000/velka/natural-backgrounds-with-flowers-1389522552Lgz.jpg";
}

h3 {
  font-size: 18px;
  margin-top: 20px;
  margin-bottom: 5px;
}

form {
  padding: 25px;
}

form input {
  display: block;
  width: 100%;
  font-size: 20px;
  padding: 5px 10px;
  margin: 10px 0;
  border-radius: 5px;
  background-color: #ffffff;
  border: solid 1px #00adee;
}

form input.error {
  border-color: red;
}

form span.error {
  color: red;
}

.hidden {
  display: none;
}

form button {
  text-transform: uppercase;
  display: block;
  width: 100%;
  border-radius: 5px;
  background-color: #00adee;
  border: none;
  /* font-size: 16px; */
  height: 40px;
  margin-top: 30px;
  cursor: pointer;
  font-size: 1.25em;
  letter-spacing: 2px;
  font-weight: 500;
  color: #ffffff;
}

form button:hover {
  background-color: #669509;
}

form button:disabled {
  background-color: #cccccc;
  color: #333;
  cursor: not-allowed;
}
